<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Job Details</title>
</head>

<body>
    <header>
        <div class="container">

            <nav class="navbar">

                <div class="logo-image">
                    <img class="logo-img" src="{% static 'images/logo.jpg' %}" alt="logo-image">
                </div>

                <ul class="nav-links">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'job_list' %}">Jobs</a></li>
                    <li><a href="{% url 'applied' %}">Applied Jobs</a></li>
                    <li><a href="{% url 'search' %}">Search</a></li>
                </ul>

                <div class="nav-actions">
                    <a href="{% url 'login' %}"><button>Login</button></a>
                    <a href="{% url 'signup' %}"><button>Sign Up</button></a>
                </div>
            </nav>

        </div>
    </header>

    <main>
        <section class="job-details">
            <h1 id="jobs-header">Job Details</h1>

            <article class="Job-Description" id="job-container">
                <h2 id="job-title">Job Title</h2>
                <p id="job-company">Company: </p>
                <p id="job-salary">Salary: </p>
                <p id="job-experience">Experience: </p>
                <p class="status" id="job-status">Status: </p>

                <h3>Job Description</h3>
                <p id="job-description">
                    Job description will appear here.
                </p>

                <button id="apply-btn">Apply Now!</button>
                <br><br>
                <a href="{% url 'job_list' %}">Back to Jobs</a>
            </article>
        </section>
    </main>

    <footer class="footer">
        <p>Job Search Website</p>
    </footer>

    <script defer src="{% static 'scripts/main.js' %}"></script>
    <script defer src="{% static 'scripts/job-details.js' %}"></script>
</body>

</html>